<% include partials/header %>

      <div class="starter-template">
        <h1>Entrar</h1>
        <form class="form-signin" method="post">
          <label for="inputUserName" class="sr-only">Nome de usuário</label>
          <input type="text" id="inputUserName" name="username" class="form-control" placeholder="Username" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Senha</label>
          <input type="password" id="inputPassword" name="password" class="form-control mt-3" placeholder="Senha" required="">

          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Login</button>
          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>
      </div>

<% include partials/footer %>